<%- include('../layout/adminheader') %>
    <h2 class="page-title"> Add a page</h2>
    <a href="/admin/pages" class="btn btn-primary">Back to all pages</a>
    <br><br>

    <form method="POST" action="/admin/pages/add-page">
        <!-- title -->
        <div class="form-group">
            <label for="">Title</label>
            <input type="text" class="form-control" name="title" value="<%= title %>" placeholder="Title" id="">
        </div>

        <!-- slug -->
        <div class="form-group">
            <label for="">Slug</label>
            <input type="text" class="form-control" name="slug" value="<%= slug %>" placeholder="Slug" id="">
        </div>

        <!-- content -->
        <div class="form-group">
            <label for="">Content</label>
            <textarea class="form-control" id="ta" cols="30" rows="10" name="content" value="<%= content %>"    placeholder="Content"></textarea>
        </div>
        <br>

        <!-- Button -->
        <button class="btn btn-default">Submit</button>
    </form>
<%- include('../layout/adminfooter') %>